@font-face {
	font-family: 'f1-regular';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2') format('woff2');
}

/* Team colors
    ("mercedes",	#6cd3bf),
	("ferrari",		#ed1c24),
	("redbull",		#1e5bc6),
	("alpine",		#2293d1),
	("haas",		#b6babd),
	("alphatauri",	#4e7c9b),
	("williams",	#37bedd),
	("astonmartin",	#2d826d),
	("alfaromeo",	#b12039),
	("mclaren",		#f58020) */

*{
    font-family: "f1-regular";
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.nav-bar{
    display: flex;    
    justify-content: center;
    gap: 550px;
    align-items: center;
    background-color: #E10600;
    padding: 0 200px;
}

.nav-bar-links a{
    text-decoration: none;
    color: white;
}

.nav-bar-links{
    display: flex;
    padding: 0;
    list-style: none;
    gap: 20px;
}

.nav-bar img{
    height: 32.5px;
    width: 130px;
}

.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15151E;
    flex-wrap: wrap;
    padding: 100px 200px;
    gap: 30px;
}

.top-section-img{
    border-radius: 5px;
    width: 500px;
    height: auto;
}

.top-section-left{
    width: 500px;
    color: white;
}

.top-section button{
    padding: 10px 15px;
    background-color: #E10600;
    color: white;
    border-radius: 5px;
    border: none;
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.section-1 h2{
    margin: 50px;
}

.sub-section-1{
    display: flex;
    gap: 80px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.card img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 5px;
}

.fix-img{
    width: 200px;
    height: auto;
}

.card-img-calendar,.card-img-standings{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.card-img-standings img{
    display: flex;
    width: 180px;
    height: 80px;
}

.card-img-calendar img{
    display: flex;
    width: 180px;
    height: 120px;
}

.footer{
    background-color: #15151E;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 0 200px;
    font-size: 15px;
    color: #D0D0D2;
}

.footer img{
    height: 21px;
    width: 84px;
}